/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }

    /* Carousel base class */
    .carousel {
	background: #ffffff; 
	height: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #d1d2d4;
	box-shadow: 0px 2px 0px 0px #e7e7e7;
    margin-bottom: 60px; 
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

	.carousel-control {
	  position: absolute;
	  top: 50%;
	  left: 15px;
	  width: 45px;
	  height: 55px;
	  margin-top: -10px;
	  font-size: 80px;
	  font-weight: 100;
	  line-height: 40px;
	  color: #FFFFFF;
	  text-align: center;
	  background: #40b5f5;
	  border: 3px solid #ffffff;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
      border-radius: 5px;
	  opacity: 0.5;
	  filter: alpha(opacity=50);
	}

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: auto;
      height: auto;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #40b5f5;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: auto;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

    }

/* footer section */
#footer {
	background: #333333;
	min-height: 300px;
	margin-top: 100px;
	color: #333333;
	padding-top: 35px;
}
#footer h3 {
	margin-bottom: 25px;
}
#footer .blog_post {
	/*width: 80%;*/
}
#footer .blog_post .img-circle {
	width: 120px;
	height: 120px;
	display: block;
	margin: 0 auto;
	border: 0px;
}
#footer .blog_post .title {
	font-size: 17px;
	font-weight: bold;
	color: #fff;
}
#footer .blog_post .intro {
	margin: 10px 0px;
	font-size: 15px;
}
#footer .blog_post .date {
	font-size: 13px;
	color: #B7B9BD;
}
#footer .contact_us .field {
	margin-bottom: 15px;
}
#footer .contact_us .field .label_field {
	float: left;
	width: 80px;
}
#footer .contact_us .field input[type="text"],
#footer .contact_us .field textarea {
	background-color: #1a1f26;
	border: 1px solid #2f3743;
	border-radius: 5px;
	color: #fff;
}
#footer .contact_us .field textarea {
	height: 65px;
}
#footer .contact_us .field select {
	width: 205px;
}
#footer .contact_us button[type="submit"] {
	margin-left: 220px;
}
#footer hr {
	border-top: 1px solid black;
	border-bottom: 1px solid #363B43;
	margin: 8px 0px 0px 0px;
}
#footer .copyright h3 {
	float: left;
}
#footer .copyright .social {
	margin-top: 8px;
	float: left;
	margin-left: 20px;		
	border-radius: 22px;
}
#footer .copyright .social:hover {
	background-color: #1A1E25;
}
#footer .copyright .social.fb {
	padding: 9px 15px 3px 15px;
}
#footer .copyright .social.tw {
	margin-top: 10px;
	padding: 11px 8px 5px 8px;
}
#footer .copyright .social.yt {
	padding: 8px 8px 5px 8px;
	margin-top: 10px;
}
#footer .copyright .copy p {
	margin-top: 20px;
}
