body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/*Footer Start*/
#footer {
    width: 100%;
}
.footer-top {
    height: 10px;
    background-color: #898989;
}
.footer-wrapper {
    background-color: #666666;
    padding-top: 17px;
}
.footer-bottom {
    background-color: #333333;
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-wrapper .address {
    padding-left: 15px;
}
.footer-wrapper .address p {
    margin-bottom: 5px;
    color: #cbcbcb;
    padding: 0;
}
.footer-wrapper .address p i {
    display: block;
    float: left;
    line-height: 20px;
    width: 30px;
}
.footer-wrapper h4 {
    border-bottom: 1px solid #CBCBCB;
    color: #CBCBCB;
    font-size: 18px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.footer-wrapper .span4 {
    margin-bottom: 30px;
}
.footer-wrapper .footer-right h4, .footer-wrapper .footer-center h4 {
    margin-bottom: 0;
}
.footer-navigate {
    list-style: none;
    margin-left: 0;
}
.footer-center p {
    color: #cbcbcb;
    padding: 12px 0 0;
}
.footer-navigate li {
    border-bottom: 1px solid #898989;
    padding: 5px 0;
}
.footer-navigate li a {
    color: #ffffff;
}
.footer-bottom p {
    padding: 18px 0 13px 14px;
    color: #ffffff;
}
.footer-bottom p a {
    color: #ffffff;
}
/*Footer End*/